github "palleas/mailcore2" "remove-ssl"
github "ReactiveCocoa/ReactiveCocoa" "master"
github "SwiftyJSON/SwiftyJSON"
github "krzyzanowskim/CryptoSwift" "0.6.4"
github "rdignard08/RGLockbox" "swift-3"
